   <nav>
        <div id="logo" ></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li>
                <label for="drop-1" class="toggle">Compradores +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP', 'EMP')">Compradores</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a th:href="@{/compradores/registrar}" sec:authorize="hasAnyRole('ADM')">Registrar</a></li>
                    <li><a th:href="@{/compradores/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Empleados +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Empleados</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/empleados/registrar}">Registrar</a></li>
                    <li><a th:href="@{/empleados/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Juegos +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Juegos</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/juegos/registrar}">Registrar</a></li>
                    <li><a th:href="@{/juegos/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Usuarios +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Usuarios</a>
                <input type="checkbox" id="drop-2" />
                <ul><li><a th:href="@{/registrar}">Registar</a></li>
                    <li><a th:href="@{/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Ventas +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Ventas</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/ventas/listar}">Listar Ventas</a></li>
                </ul>
            </li>
            
            <li>
                <label for="drop-2" class="toggle">Perfil +</label>
                <a th:if="${session.usuariosession != null}">Perfil</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/perfil}">Editar Datos</a></li>
                    <li><a th:href="@{/password}">Cambiar Pass</a></li>
                    <li><a th:href="@{/foto}">Cambiar Foto</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                </ul>
            </li>
            
            <li>
                <a th:if="${session.usuariosession == null}" th:href="@{/login}">Logueate</a>
            </li>
            <li th:if="${session.usuariosession != null}">
                <a href="/index">Inicio</a>
            </li>
            <li>
                <img th:if="${session.usuariosession != null}" th:src="@{/imagen/__${session.usuariosession.legajoDni}__}" 
                alt="Imagen de perfil" class="fotito" >
            </li>
            
        </ul>
    </nav>