<!DOCTYPE html>
<html lang="en">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org%22%3E/">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="../css/carrusel.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <nav>
        <div id="logo"></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">

            
            <li><a href="login.html">Logueate</a></li>
            <li><a href="index.html">Inicio</a></li>

        </ul>
    </nav>

    <div class="card-swiper">
  <div class="card-groups">
    <div class="card-group" data-index="0" data-status="active">
      <div class="little-card card">

      </div>
      <div class="big-card card">

      </div>
      <div class="little-card card">

      </div>
      <div class="big-card card">

      </div>
      <div class="little-card card">

      </div>
      <div class="big-card card">

      </div>
      <div class="little-card card">

      </div>
      <div class="big-card card">

      </div>
    </div>

    
    </div>
  </div>
  
</div>
<!-- partial -->
  <script src='../js/carrusel'></script>

</body>
</html>
</body>

</html>